body {
    font-family: poppins;
}
.nav-item{
    margin-right: 30px;
}
.nav-link{
    color: black;
}
.link-active{
    font-weight: bold;
    color: #A39061;
}
.btn-denisa{
    background-color: #A39061;
    color: white;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
.btn-denisa:hover{
    background-color: #beaf86;
    color: white;
}
.our-story {
    color: #4E6C50;
}
.card {
    background-color: #CFCFCF;
}
.meaning {
    color: #A39061;
}
.test {
    margin-top: 150px;
}
.asw {
    margin-top: 100px;
}
.btn-denisa2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    padding-left: 7px;
    padding-right: 7px;
}
.btn-denisa2:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.carousel-item{
    height: 25rem;
    background: #000;
    color: white;
    position: relative;
    }
    
    .overlay-image{
        position: absolute;
        opacity: 0.5;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        
    }