@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: poppins;
}

.nav-item {
    margin-right: 30px;
}

.nav-link {
    color: black;
}

.link-active {
    font-weight: bold;
    color: #A39061;
}

.card-1 {
    border-radius: 0px;
    background-color: black;
}

.card-title {
    color: #ffffff;
    margin-left: 70px;
    margin-top: 200px;
}

.card-titles {
    color: #ffffff;
    margin-left: 70px;
}

.card-text {
    color: #ffffff;
    margin-left: 70px;
}

.btn {
    background-color: #7A5F1B;
    color: #ffffff;
    border-radius: 15px;
}

.btn:hover {
    background-color: #765313;
    color: #ffffff;
}

.p {
    border-radius: 250px;
}

.container-card-custom {
    border: solid 1px #b07b19;
    border-radius: 50px;
}

.pp {
    color: #7A5F1B;
}

.ppp {
    border-radius: 50px;
    background-color: black;
    margin-top: 120px;
}

.pppp {
    font-size: 27px;
    margin-left: 50px;
    margin-top: 40px;
}

.ppppp {
    margin-top: 90px;
    margin-left: 50px;
    color: #7A5F1B;
}

.a {
    margin-top: 100px;
}

.b {
    margin-top: 70px;
}