.test {
  padding-top: 10px;
  margin-left: 20px;
}
.main {
  border-radius: 5px;
  width: 470px;
  background: #ffff;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #a39061;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}
.main h5 {
  margin: 0 40px;
  padding: 12px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-family: poppins;
}
.main input {
  padding: 10px 0;
  margin-bottom: 30px;
}
.main textarea {
  height: 80px;
  padding: 10px 0;
  margin-bottom: 40px;
}

.main input,
.main textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #a39061;
}
.main button {
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 45%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;

}
.main textarea {
  margin-bottom: auto;
}
.card-title {
  font-family: Indie Flower;
}
.card-text {
  font-family: Indie Flower;
}
.aswp {
  margin-top: 35px;
}
.text-12 {
  font-family: Julius Sans One;
}
.card {
  border-radius: 0%;
}

.den-img{
height: 2rem;
background: #000;
color: white;
position: relative;
}

.img-den{
  position: absolute;
  opacity: 0.5;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}