body {
    background-size: cover;
    background-position: center;
}

.nav-item {
    margin-right: 30px;
}

.nav-link {
    color: black;
}

.link-active {
    font-weight: bold;
    color: #A39061;
}

.btn-denisa {
    background-color: #A39061;
    color: white;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.btn-denisa:hover {
    background-color: #beaf86;
    color: white;
}

.col-2 {
    border-color: transparent;
    background-color: #A39061;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
}

.col-2:hover {
    background-color: #beaf86;
    color: white;
}

.Text {
    text-align: center;
    font-family: Akaya Telivigala;
}

.Card-image {
    margin-left: 70px;
    box-sizing: content-box;
}

.ubah-font {
    font-family: georgia, garamond, serif;
    font-size: 16px;
    font-style: italic;
    margin-top: 35px;
    margin-left: 50px;
}

.tombol {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #A39061;
    color: white;
    border-color: transparent;
}

.tombol:hover {
    background-color: #beaf86;
    color: white;
}

.kukis-ajaib {
    margin-top: 37px;
}

.a-button{
    color: white;
    text-decoration: none;
}