@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    
    font-family: 'Poppins', sans-serif;

}

/*  */
.nav-item{
    margin-right: 30px;
}
.nav-link{
    color: black;
}
.link-active{
    font-weight: bold;
    color: #A39061;
}
.btn-denisa{
    background-color: #A39061;
    color: white;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
.btn-denisa:hover{
    background-color: #beaf86;
    color: white;
}

.carousel-item{
height: 30rem;
background: #000;
color: white;
position: relative;
}

.overlay-image{
    position: absolute;
    opacity: 0.5;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    
}

.desc-denisa {
    color: white;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.desc-denisa h1 {
    font-weight: 600;
    font-size: 50px;
}

.desc-denisa p {
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-konten{
    width: 200px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    overflow: hidden;
    position: relative;
}

.card-img-konten{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body-konten{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.152);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    transition: 0.5s;
}

.card-konten:hover .card-body-konten{
    right: 0;
}

.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    color: #000;
}

.card-sub-title{
    text-transform: capitalize; 
    font-size: 30px;
    font-weight: 300;
}
