<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="x-icon" href="../static/img/101.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About | Dapur Denisa</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  <style>
    @import url(../static/css/about.css);
    @import url(../static/css/footer.css);
  </style>
</head>

<body>
  <!-- Navbar Dapur Denisa -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/" target="_blank">
        <img src="../static/img/logo.png" alt="" height="50px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-active" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-black p-5">
    <div class="container tinggi">
      <div class="row flex-row-reverse d-flex justify-content-center  align-items-center">
        <div class="col-md-6 text-center">
          <img src="../static/img/3000.png" class="img-fluid mb-3" width="450px">
        </div>
        <div class="left col-md-6 mt-1">
          <h1 class="fw-bold  text-white">Fresh Baked</h1>
          <h1 class="fw-bold text-white">Everyday</h1>
          <p class="fw-semibold mt-5 text-white">Order now and enjoy brownies and cookies with <br>
            the people you love. Share Love, Share Happiness</p>
          <button type="button" class="btn fw-semibold mt-4">Order Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="fw-bold text-center">Know Us Better</h2>
    <p class="fw-semibold text-center" style="color: gray;">Explore more about Dapur Denisa’s</p>
  </div>

  <div class="container container-card-custom p-5 mt-5 ">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="../static/img/2001 fix.png" alt="" class="img-fluid rounded-circle" width="350px">
      </div>
      <div class="col-md-8 px-4">
        <h2 class="pp fw-bold mt-5">Our Story</h2>
        <p class="mt-4 " style="text-align: justify;">Denisa's Kitchen has been around for years
          2022, when a woman decided to take the bold step of opening an online cake shop. He started
          this business with limited capital, only a few recipes, and
          a strong desire to serve cakes that are typical of family heritage recipes.
          <br><br>
          The cakes sold are inherited family recipes, such as cookies, brownies and Eid cakes. Every
          Cakes are made with love and care, using fresh, high quality ingredients. Denisa's Kitchen
          always
          online, providing hospitality to customers and sharing stories about each cake sold.
        </p>
      </div>
    </div>
  </div>

  <div class="ppp p-3 rounded-0">
    <div class="row">
      <div class="col-md-8">
        <h1 class="ppppp fw-bold">Special Baked For You</h1>
        <p class="pppp fw-semibold " style="color: #ffffff;">Express your feelings with cakes <br> and pastries</p>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img src="../static/img/2002.png" height="150px" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container a">
    <h2 class="fw-bold text-center">Meaning Of Dapur Denisa’s</h2>
  </div>

  <div class="container b p-5">
    <div class="row">
      <div class="col-md-6 text-end">
        <img src="../static/img/2003.png" alt="" class="img-fluid">
        <p class="c mt-3" style="text-align: justify;">In a few decades, Denisa's Kitchen has become
          favorite place for people.
          They are famous for their delicious cakes, and every cake
          has its own story and meaning. Denisa's Kitchen is a popular culinary tourism destination in online stores.
          Even though it doesn't use modern marketing strategies, Denisa's Kitchen continues to survive and develop
          because of the cake's authentic taste and unique personality.
        </p>

      </div>
      <div class="col-md-6">
        <h5 class="fw-bold">More About Us</h5>
        <p class="mt-4 " style="text-align: justify;">Welcome to Denisa's Kitchen! We are the place where
          deliciousness meets creation. With our love and dedication, we have dedicated ourselves to making cakes
          which is not only delicious, but also appetizes your taste buds.
        </p>
        <img src="../static/img/2004.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- Footer Dapur Denisa -->
  <footer class="mt-5 site-footer">
    <div class="container mt-4">
      <div class="row">
        <div class="col ">
          <h6>❤️Made Especially For You❤️</h6>
        </div>

        <div class="col">
          <h6 style="text-align: end;">Phone : 0808080808</h6>
          <h6 style="text-align: end;">Email : Dapurdesnisaa@gmail.com</h6>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <a href="../templates/Menu.html" class="icon-link me-3">Menu</a>
          <a href="../templates/About.html" class="icon-link me-3">About</a>
          <a href="../templates/contact.html" class="icon-link">Contact</a>
        </div>

        <div class="col-md-6">
          <ul class="social-icons">
            <li><a class="whatsapp" href="#"><i class="bi bi-whatsapp fs-3 me-3 icon-link"></i></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/inidapurdenisa/"><i
                  class="bi bi-instagram fs-3 icon-link"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <hr>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 Dapur Denisa
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
  </script>
</body>

</html>