<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="x-icon" href="../static/img/101.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | Dapur Denisa</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <style> 
      @import url(../static/css/about.css);
      @import url(../static/css/footer.css);

    </style>
  </head>
  <body>
    <!-- Navbar Dapur Denisa -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
      <div class="container">
        <a class="navbar-brand" href="../templates/index.html" target="_blank">
          <img src="../static/img/logo.png" alt="" height="50px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-active" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Image Dapur Denisa -->

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="overlay-image" style="background-image: url(../static/img/1.png);"></div>
      </div>
    </div>
    
    

    <!-- Text About Us Dapur Denisa -->
    <div class="container">
      <header class="d-flex justify-content-center py-5">
        <img src="../static/img/2.png" height="90px" />
      </header>
      </div>
    </div>

    <!-- Our Story Dapur Denisa -->
     <div class="container-fluid mt-4">
      <header class="d-flex justify-content-center py-2">
        <div class="card rounded-4 shadow mb-3" style="max-width: 1260px">
          <div class="row px-4 g-5">
            <div class="col-md-4">
              <img src="../static/img/3.png" class="img-fluid py-5"/>
            </div>
            <div class="col-md-7 py-5">
              <div class="card-body">
                <h2 class="our-story fw-bold">Our Story</h2>
                    <p class="card-text fs-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Quis commodo odio aenean sed. In ornare quam viverra orci
                        sagittis eu.
                    </p>
                  
                    <p class="card-text fs-5">
                        Euismod nisi porta lorem mollis aliquam ut porttitor leo.
                        Tempus quam pellentesque nec nam aliquam sem et tortor
                        consequat. Vitae auctor eu augue ut lectus.
                    </p>
                  

                    <p class="card-text fs-5">
                        Its no coincidence that XxX means “golden” in French.
                    </p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div> 

    <!-- Meaning Dapur Denisa -->
    <div class="container asw">
      <header class="d-flex justify-content-center py-2">
        <div class="row px-4 g-5">    
          <div class="col-md-8 py-5">
            <div class="card-body">
              <h2 class="meaning fw-bold">Meaning Of Dapur Denisa</h2>
                  <p class="card-text fs-5 mt-4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Quis commodo odio aenean sed. In ornare quam viverra orci
                      sagittis eu.
                  </p>
                  
                  <p class="card-text fs-5">
                      Euismod nisi porta lorem mollis aliquam ut porttitor leo.
                      Tempus quam pellentesque nec nam aliquam sem et tortor
                      consequat. Vitae auctor eu augue ut lectus.
                  </p>
                  
                  <p class="card-text fs-5">
                      It’s no coincidence that XxX means “golden” in French.
                  </p>
              </p>
            </div>
          </div>
          <div class="test col-md-4">
            <img src="../static/img/4.png" width="280" class="img-fluid "/>
          </div>
        </div>
      </header>
      <div class="container justify-content-end">
        <a href="../templates/contact.html"><button class="btn btn-denisa fw-bold" id="tombol">Contact Us</button></a>
      </div>
    </div>

    <!-- Image and Slogan -->
    <div class="asw text-bg-dark shadow">
      <div class="container-gambar">
        <img src="../static/img/5.png" class="img-fluid">
        <h3 class="centered-text-overlay">Express your feelings with cakes and pastries</h3>
      </div>
    </div>

    <!-- Footer Dapur Denisa -->
    <footer class="asw site-footer">
      <div class="container mt-4">
        <div class="row">
          <div class="col ">
            <h6>❤️Made Especially For You❤️</h6>
          </div>

          <div class="col">
            <h6 style="text-align: end;">Phone : 0808080808</h6>
            <h6 style="text-align: end;">Email : Dapurdesnisaa@gmail.com</h6>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <a href="../templates/Menu.html" class="icon-link me-3">Menu</a>
              <a href="../templates/About.html" class="icon-link me-3">About</a>
              <a href="../templates/contact.html" class="icon-link">Contact</a>
          </div>

          <div class="col-md-6">
            <ul class="social-icons">
              <li><a class="whatsapp" href="#"><i class="bi bi-whatsapp fs-3 me-3 icon-link"></i></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/inidapurdenisa/"><i class="bi bi-instagram fs-3 icon-link"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 Dapur Denisa
            </p>
          </div>
        </div>
      </div>
</footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
