<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="x-icon" href="../static/img/101.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact | Dapur Denisa</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Julius+Sans+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <style>
      @import url(../static/css/contact.css);
      @import url(../static/css/about.css);
      @import url(../static/css/footer.css);
    </style>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
      <div class="container">
        <a class="navbar-brand" href="../templates/index.html" target="_blank">
          <img src="../static/img/logo.png" alt="" height="50px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-active" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar -->

    <div
      class="card text-bg-dark justify-content-center align-items-center shadow mb-5"
    >
      <img src="../static/img/Rectangle 48.png" class="card-img" alt="..." />
      <div class="card-img-overlay py-5">
        <div class="test">
          <h1 class="card-title mt-5">GET IN TOUCH WITCH US</h1>
          <h5 class="card-text">
            Our friendly is team here to answer your question.
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="main mt-5">
            <h5>Questions?, comments?, suggestions?,Let's hear it</h5>
            <form>
              <div class="mt-4">
                <input type="text" name="required" placeholder="Name" />
              </div>
              <div class="mt-4">
                <input type="text" name="required" placeholder="Email" />
              </div>

              <div class="card mt-4">
                <textarea required placeholder="Message"></textarea>
              </div>
              <div class="text-center">
                <button class="aswp btn-denisa">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="text-12">for more information</h2>
          <img
            class="shadow"
            width="522px"
            height="304px"
            src="../static/img/Rectangle 48.png"
            alt=""
          />
          <h2 class="text-12 mt-4">Contact Us</h2>
          <p><b>for more information</b></p>
          <h2 class="text-12">Cakes for every pleasure</h2>

          <p>
            <i class="fa-brands fa-instagram"></i>
            instagram
          </p>
          <p><i class="fa-solid fa-phone"></i> instagram</p>
          <p><i class="fa-solid fa-envelope"></i> instagram</p>
        </div>
      </div>
    </div>

    <footer class="asw site-footer">
      <div class="container mt-4">
        <div class="row">
          <div class="col ">
            <h6>❤️Made Especially For You❤️</h6>
          </div>

          <div class="col">
            <h6 style="text-align: end;">Phone : 0808080808</h6>
            <h6 style="text-align: end;">Email : Dapurdesnisaa@gmail.com</h6>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <a href="../templates/Menu.html" class="icon-link me-3">Menu</a>
              <a href="../templates/About.html" class="icon-link me-3">About</a>
              <a href="../templates/contact.html" class="icon-link">Contact</a>
          </div>

          <div class="col-md-6">
            <ul class="social-icons">
              <li><a class="whatsapp" href="#"><i class="bi bi-whatsapp fs-3 me-3 icon-link"></i></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/inidapurdenisa/"><i class="bi bi-instagram fs-3 icon-link"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 Dapur Denisa
            </p>
          </div>
        </div>
      </div>
</footer>
          
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
