<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="x-icon" href="../static/img/101.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Dapur Denisa</title>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>
      $(document).ready(function () {
        indexfaqs();
      });
    </script>

    <script src="../static/js/listinguser.js"></script>

  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <!-- END BOOTSTRAP -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">



  <style>
    @import url(../static/css/style.css);
  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/" target="_blank">
        <img src="../static/img/logo.png" alt="" height="50px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Carousel -->

  <div id="myCarousel"  class="carousel slide mb-6"  data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="overlay-image" style="background-image: url(../static/img/mae-mu-m9pzwmxm2rk-unsplash.jpg);"></div>
        <div class="container">
          <div class="carousel-caption text-start desc-denisa">
            <p class="p-denisa">Must Try!!</p>
            <h1>Premium Taste</h1>
            <p><a class="btn btn-lg btn-denisa" href="#">Buy Now</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay-image" style="background-image: url(../static/img/mae-mu-kID9sxbJ3BQ-unsplash.jpg);"></div>
        <div class="container">
          <div class="carousel-caption text-start desc-denisa ">
            <p>Enjoy every bite wonderfully!!</p>
            <h1 class="">Get discounts up to 50% every day </h1>

            <p><a class="btn btn-lg btn-denisa" href="/menu">Buy Now</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay-image"
          style="background-image: url(../static/img/michelle-tsang-1rqk6XVnw44-unsplash.jpg);"></div>
        <div class="container">
          <div class="carousel-caption text-start desc-denisa ">
            <p></p>
            <h1>Cakes made with love ❤️</h1>
            <p><a class="btn btn-lg btn-denisa" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <!-- Carousel end -->

  <div class="container">
    <div class="row">
      <div class="col text-center mt-5">
        <div class="d-flex justify-content-center">
          <div style="width: 60%; height: 30%; border: 1px #A39061 solid" class="mt-auto mb-auto"></div>
          <h1 class="text-judul fs-2 ms-5 me-3">
            Best
          </h1>
          <h1 class="text-judul fs-2 me-5">
            Seller
          </h1>
          <div style="width: 60%; height: 30%; border: 1px #A39061 solid" class="mt-auto mb-auto"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- CARD AND contnet  -->
  <section class="card-section-konten" id="card-section-konten">
    <div class="container">
      <div class="row mt-3 justify-content-center ">
        <div class="konten col-md-3 text-center "> <!--Card-->
          <div class="card-konten  ">
            <img src="../static/img/revisi 1 (1).png" class="card-img-konten" alt="...">
            <div class="card-body-konten  ">
              <h1 class="Card-title mx-auto my-auto text-den fs-2">Red Velvet Cookies</h1>

            </div>
          </div>
        </div> <!--Card end-->
        <div class="col-md-3 text-center konten"> <!--Card-->
          <div class="card-konten ">
            <img src="../static/img/revisi 2.png" class="card-img-konten" alt="...">
            <div class="card-body-konten">
              <h1 class="Card-title mx-auto my-auto text-den fs-2">Chocolate Cookies</h1>

            </div>
          </div>
        </div> <!--Card end-->
        <div class="col-md-3 text-center konten"> <!--Card-->
          <div class="card-konten ">
            <img src="../static/img/revisi 3.png" class="card-img-konten" alt="...">
            <div class="card-body-konten  ">
              <h1 class="Card-title mx-auto my-auto text-den fs-2">chocolate brownies </h1>

            </div>
          </div>
        </div> <!--Card end-->
        <div class="col-md-3 text-center konten"> <!--Card-->
          <div class="card-konten ">
            <img src="../static/img/Rectangle 80.png" class="card-img-konten" alt="...">
            <div class="card-body-konten">
              <h1 class="Card-title mx-auto my-auto text-den fs-2 "> Cream Cheese Brownies</h1>

            </div>
          </div>
        </div> <!--Card end-->

      </div>
    </div>
  </section>

  <!-- news -->
  <section class="news-section" id="news-section" data-aos="fade-up" data-aos-duration="700"> 
    <div class="container-fluid mt-5">
      <header class="d-flex justify-content-center py-2">
        <div class="card card-news rounded-4 shadow mb-3" style="max-width: 1260px">
          <div class="row px-4 g-5">
            <div class="col-md-4">
              <img src="../static/img/Rectangle 79.png" class="img-fluid rounded justify-content-center img-news py-5"
                style="max-width: 300px;" />
            </div>
            <div class="col-md-7 ">
              <div class="card-body mt-2 py-5 ">
                <h2 class="h2-news fw-bold ">Why Must Dapur denisa?</h2>
                <div style="width: 100%; height: 100%; border: 2px #A39061 solid"></div>
                <h1 class="h1-news mt-1">Cakes for every pleasure</h1>
                <p class="card-text text-news mt-2 ">
                  Our cake products are known for their extraordinary taste. Every bite will present the perfect combination of sweet, savory, or even exotic flavors that make each of our cakes an unforgettable experience for your taste buds.
                </p>

                
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </section>
  <!-- end news -->

  <section class="slogan" data-aos="fade-up" data-aos-duration="700">
    <div id="myCarousel" class="carousel slide mt-5 mb-6" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item-slogan active">
          <div class="overlay-image-slogan"
            style="background-image: url(../static/img/mae-mu-Emhz3miT6mo-unsplash.jpg);"></div>
          <h1 class="slogan-deni text-center centered-text-overlay">Cake and cookies for you spesial day</h1>
        </div>
      </div>
  </section>

  <div class="container" data-aos="fade-up" data-aos-duration="700">
    <div class="row">
      <div class="col text-center mt-5">
        <div class="d-flex justify-content-center">
          <div style="width: 60%; height: 30%; border: 1px #A39061 solid" class="mt-auto mb-auto"></div>
          <h1 class="text-judul fs-2 ms-4">
            What
          </h1>
          <h1 class="text-judul fs-2 mx-2">
            they
          </h1>
          <h1 class="text-judul fs-2 me-4">
            said?
          </h1>
          <div style="width: 60%; height: 30%; border: 1px #A39061 solid" class="mt-auto mb-auto"></div>
        </div>
      </div>
    </div>
  </div>

  <section class="testimoni " data-aos="fade-up" data-aos-duration="700">
    <div class="container mt-5">
      <div class="row mt-4">
        <div
          class="col-md card shadow mb-3 px-3 pt-4 pb-2 text-center me-2 testimonial-card"
        >
        <div class="mx-auto">
          <img
            class="testimonial-pic me-2"
            src="../static/img/undraw_profile.svg"
            alt=""
          />
          <p class="fw-medium mt-1">
            Sung-Hoon
            <p class="px-2">⭐⭐⭐⭐⭐</p>
            
          </p>
        </div>
        
          <p class="card-text mb-2">
            “The brownies are really soft in the mouth, and the cookies are also really delicious, I really like them :)”
          </p>
        </div>

        <div
          class="col-md card shadow mb-3 px-3 pt-4 pb-2 text-center me-2 testimonial-card"
        >
        <div class="mx-auto">
          <img
            class="testimonial-pic me-2"
            src="../static/img/undraw_profile.svg"
            alt=""
          />
          <p class="fw-medium mt-1">
            Faisal Wibowo
            <p class="px-2">⭐⭐⭐⭐⭐</p>
            
          </p>
        </div>
        
          <p class="card-text mb-2">
            “It's really delicious and the best, guaranteed you won't regret it if you buy it here”
          </p>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 40px;">
          <a class="btn btn-denisa" href="/testimonial" >More Testimonials</a>
        </div>
      </div>
    </div>

  </section>


  <section class="faq" data-aos="fade-up" data-aos-duration="700">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-5">
          <div class="d-flex justify-content-center">
            <div style="width: 60%; height: 30%; border: 1px #A39061 solid" class="mt-auto mb-auto"></div>
            <h1 class="text-judul fs-2 ms-4 me-4">
              Faq
            </h1>
            <div style="width: 60%; height: 30%; border: 1px #A39061 solid" class="mt-auto mb-auto"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <div class="accordion accordion-flush" id="accordionFlushExample ">
            <div id="cards-box">

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>




  <footer class="mt-5 site-footer" data-aos="fade-up" data-aos-duration="700">
    <div class="container mt-4">
      <div class="row">
        <div class="col ">
          <h6>❤️Made Especially For You❤️</h6>
        </div>

        <div class="col">
          <h6 class="text-md-end text-sm-start">Phone : 085365094471</h6>
          <h6 class="text-md-end text-sm-start">Email : Dapurdesnisaa@gmail.com</h6>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <a href="../templates/Menu.html" class="icon-link me-3">Menu</a>
          <a href="../templates/About.html" class="icon-link me-3">About</a>
          <a href="../templates/contact.html" class="icon-link">Contact</a>
        </div>

        <div class="col-md-6">
          <ul class="social-icons">
            <li><a class="whatsapp" href="#"><i class="bi bi-whatsapp fs-3 me-3 icon-link"></i></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/inidapurdenisa/"><i
                  class="bi bi-instagram fs-3 icon-link"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <hr>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 Dapur Denisa
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="../static/js/bootstrap.min.js"></script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>