<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="x-icon" href="../static/img/101.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <title>Login | Dapur Denisa</title>

  <link rel="stylesheet" href="../static/css/style.css">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

  <script src="../static/js/main.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  <!-- form -->
  <section class="form-admin vh-100" style="background-color: #F5F5F5;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card shadow" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../static/img/Rectangle 108.png"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center  mb-3 pb-1">

                      <span class="h1 fw-bold mb-0 pinn-login">Welcome Back !!</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3 pinn-login-h5" style="letter-spacing: 1px;">Make your day sweeter with our cakes</h5>
  
                    <div class="input-group my-4">
                      <span class="input-group-text"
                        ><i class="bi bi-person-circle fs-3"></i
                      ></span>
                      <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          id="input-username"
                          placeholder="Username"
                        />
                        <label class="pinn-login-h5" for="input-username">Name</label>
                      </div>
                    </div>
                    <div class="input-group mb-4">
                      <span class="input-group-text"
                        ><i class="bi bi-lock-fill fs-3"></i
                      ></span>
                      <div class="form-floating">
                        <input
                          type="password"
                          class="form-control"
                          id="input-password"
                          placeholder="Password"
                        />
                        <label class="pinn-login-h5" for="input-password">Password</label>
                      </div>
                    </div>
  
                    <div class="d-grid gap-2 mb-4">
                      <a class="btn btn-lg btn-denisa btn-block" onclick="sign_in()" type="button" href="#">Login</a>
                    </div>
  
                    <p class="admin-only-text">*Admin Only!!</p>
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end form -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>